
* {
    font-family: "Lato", sans-serif;
}


/* Per influenzare anche classi Bootstrap si aggiungono classi "h" di sicurezza */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {     
    font-family: "Orbitron", sans-serif;
}


:root{
  --yellow : rgb(255, 232, 31);
  --black : rgb(23, 23, 23);
  --white : rgb(244, 244, 244);
}


/* Background Colors Classes */

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}


.bg-white{
    background-color: var(--white);
}

/* Text Color Classes */

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}


.text-white{
    color: var(--white);
}