
* {
    font-family: "Lato", sans-serif;
}


/* Per influenzare anche classi Bootstrap si aggiungono classi "h" di sicurezza */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {     
    font-family: "Orbitron", sans-serif;
}


:root{
  --yellow : rgb(255, 232, 31);
  --black : rgb(23, 23, 23);
  --red : rgb(228,32, 43);
}

body{
    background-color: var(--black) ;
    color: var(--yellow);
}


/* Background Colors Classes */

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}


.bg-red{
    background-color: var(--red);
}

/* Text Color Classes */

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}


.text-red{
    color: var(--red);
}


/* Navbar */

.navbar{
    height: 140px;
    transition: 0.5s;
}

.nav-link{
    color: var(--yellow);
    font-weight: 700;
}

.nav-link:hover{
    color: white;
    text-shadow: 3px 3px 5px var(--red), -3px -3px -5px var(--red);

}

.logo{
    width: 50px;
}

.logo2{
    width: 100px;
    transition: 0.5s;
}

/* Header */

#header{
    background-image: linear-gradient(rgba(0,0,0), transparent, rgba(0,0,0)), url(./Media/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.btn-custom{
    color: var(--yellow);
    background-color: rgba(0,0,0, 0.7);
    border: 2px solid var(--yellow);
    border-radius: 50px;
    margin: 25px 15px;
    padding: 20px 30px;
    transition: 0.5s;
}


.btn-custom:hover{
    color: var(--black);
    background-color: var(--yellow);
    transform: scale(1.1);

}

/* Positioned */

.positioned{
    position: relative;
    top: -200px;

}

.col-custom{
    padding: 10px;
    border: 2px solid var(--black);
    cursor: pointer;
    transition: 0.5s;
    color: var(--black);
}

.col-custom:hover{
    transform: scale(1.1);
    background-color: var(--black);
    color: var(--red);
    border: 2px solid var(--red);
}

@media screen and (max-width: 600px){
    .positioned{
        position: static;
    }
    
}


/* Numeri Incrementali */

.numbers{
    font-size: 50px;
    font-weight: 900 ;

}


/* Swiper */

.swiper{
    height: 600px;
}

.card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}





/* Annunci */


.accordion-item, .accordion-button{
    background-color: var(--black);
    color: var(--yellow);
}

.accordion-button:not(.collapsed){
    color: var(--red);
    background-color: var(--black);
    box-shadow: none;
}


.accordion-button:focus{
    box-shadow: none;
}


.card-custom{

    width: 30%;
    border: 2px solid var(--yellow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    transition: 0.5s;
}

.card-custom:hover{
    transform: scale(1.1);
}


.img-card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}





/* Chi Siamo */


.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vh-75{
    height: 75vh;
}

.opener{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    background-color: var(--black);
    cursor: pointer;
    transition: 0.5s;

}


.moved{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid var(--red);
    background-color: var(--red);
    position:absolute;
    z-index: 2;
    transition: 0.5s;
    background-position: center;
    background-size: 100%;
    cursor: pointer;

}

.flip-card{
    height: 250px;
    width: 250px;
    transition: 0.5s;
}

.flip-card:hover > .inner{
    transform: rotateY(180deg);
}


.inner{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    border: 3px solid var(--yellow);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;

}


.inner-face{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5%;
    /* background-image: url(https://picsum.photos/50/50); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}


.inner-back{
    height: 250px;
    width: 250px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
}


