
* {
    font-family: "Lato", sans-serif;
}


/* Per influenzare anche classi Bootstrap si aggiungono classi "h" di sicurezza */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {     
    font-family: "Orbitron", sans-serif;
}


:root{
  --yellow : rgb(255, 232, 31);
  --black : rgb(23, 23, 23);
  --red : rgb(228,32, 43);
}


/* Background Colors Classes */

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}


.bg-red{
    background-color: var(--white);
}

/* Text Color Classes */

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}


.text-red{
    color: var(--red);
}


/* Navbar */

.navbar{
    height: 140px;
    transition: 0.5s;
}

.nav-link{
    color: var(--yellow);
    font-weight: 700;
}

.nav-link:hover{
    color: white !important;
    text-shadow: 3px 3px 5px var(--red), -3px -3px -5px var(--red);

}

.logo{
    width: 50px;
}
